@page
@model End_Point.Admin.Pages.Prescription.IndexModel
@{
}
<!--Container Main start-->
<div class="container-fluid">
    <h5 class="title">Prescription</h5>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <a href="/prescription/create">Add Prescription</a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a href="/prescription/list">Prescription's List</a>
            </div>
        </div>
    </div>
</div>
<!--Container Main end-->