<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Stylesh.css" rel="stylesheet">
    <link href="~/css/Bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    @if (string.IsNullOrWhiteSpace(ViewData["Title"] as string))
    {
        <title>Hospital-Management</title>
    }
    else
    {
        <title>@ViewData["Title"]</title>
    }
    <style>

        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            background-color: #f8f9fa;
            padding: 15px;
        }

        .sidebar .nav-link {
                padding: 10px 15px;
        }


    </style>
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Hospital</span>
                </a>
                <div class="nav_list">
                    <a href="#" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="/person" class="nav_link">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Persons</span>
                    </a>
                    <a href="/Doctor" class="nav_link">
                        <i class='bx bx-plus-medical nav_icon'></i>
                        <span class="nav_name">Doctors</span>
                    </a>
                    <a href="/Patient" class="nav_link">
                        <i class='bx bx-injection nav_icon'></i>
                        <span class="nav_name">Patients</span>
                    </a>
                    <a href="/Department" class="nav_link">
                        <i class='bx bx-category nav_icon'></i>
                        <span class="nav_name">Departments</span>
                    </a>
                    <a href="/Appointment" class="nav_link">
                        <i class='bx bx-time-five nav_icon'></i>
                        <span class="nav_name">Appointments</span>
                    </a>
                    <a href="/Prescription" class="nav_link">
                        <i class='bx bx-edit nav_icon'></i>
                        <span class="nav_name">Prescriptions</span>
                    </a>
                   
                </div>
            </div>
            <a href="#" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>
    <!--Container Main start-->
    @RenderBody()
    <!--Container Main end-->

    <script src="~/asset/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/asset/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/asset/bootstrap/js/popper.min.js"></script>
    <script src="~/js/Layout.js"></script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {

            const showNavbar = (toggleId, navId, bodyId, headerId) => {
                const toggle = document.getElementById(toggleId),
                    nav = document.getElementById(navId),
                    bodypd = document.getElementById(bodyId),
                    headerpd = document.getElementById(headerId)

                // Validate that all variables exist
                if (toggle && nav && bodypd && headerpd) {
                    toggle.addEventListener('click', () => {
                        // show navbar
                        nav.classList.toggle('show')
                        // change icon
                        toggle.classList.toggle('bx-x')
                        // add padding to body
                        bodypd.classList.toggle('body-pd')
                        // add padding to header
                        headerpd.classList.toggle('body-pd')
                    })
                }
            }

            showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

        });
    </script>
    @RenderSection("Scripts", false)
</body>

</html>
