@page
@model End_Point.Admin.Pages.Appointment.IndexModel
@{
    ViewData["title"] = "Appointment";
}
<div class="container-fluid">
    <h5 class="title">Appointment</h5>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <a href="/Appointment/create">Add Appointment</a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a href="/Appointment/list">Appointment's List</a>
            </div>
        </div>
    </div>
</div>
