@page
@model End_Point.Website.Pages.Person.IndexModel
@{
}
<!--Container Main start-->
<div class="container-fluid">
    <h5 class="title">Person</h5>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <a href="/person/create">Add Person</a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a href="">Edit Person</a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a href="">Delete Person</a>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <a href="">Phone</a>
            </div>
        </div>
    </div>
</div>
<!--Container Main end-->

